body{
    background-color: hsl(112, 43%, 56%);
    font-size: 20px;
    height: 100%;
}
.header{
    width: 100%;
    height: 400px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 0px;
    left:0px;
}
.title{
    position: relative;
    top: 15px;
    z-index: 1;
}
.subtitle{
    font-size: 60%;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 50%);
}
.cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px;
    z-index: 0;
    opacity: 70%;
}
nav{
    position: absolute;
    top: 400px;
    left: 0px;
    background-color: hsl(112, 67%, 95%);
    width: 100%;
    height: 80px;
}
ul{
    margin-left: 340px;
}
ul li{
    list-style: none;
    display: inline-block;
    line-height: 40px;
}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: hsl(0, 0%, 50%);
    padding: 0 20px;
}
ul li a:hover{
    color: hsl(0, 100%, 50%);
}
h2{
text-align: center;
margin-top: 5px;
color: hsl(0, 0%, 100%);
}
h3{
    text-align: center;
    color: hsl(0, 0%, 100%);
}
.info{
    position: absolute;
    top: 500px;
    background-color: hsl(112, 51%, 40%);
    color: hsl(0, 0%, 100%);
    width: 70%;
    height: 1730px;
    margin-left: 5px;
    line-height: 1.2em;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
    border: 2px dashed hsl(0, 0%, 100%);
}
.landscape{
    height: 170px;
    margin-left: 270px;
    margin-right: 470px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.portrait{
    margin-right: 500px;
    margin-left:300px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 190px;
}
.footer{
    position: absolute;
    top: 2280px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color:hsl(112, 59%, 85%);
}
.sidebar{
    width: 24%;
    position: absolute;
    top: 500px;
    left: 930px;
    background-color:hsl(112, 67%, 95%);
    padding: 10px;
    border: 2px dashed hsl(0, 0%, 0%);
}
.form{
    width: 24%;
    position: absolute;
    top: 900px;
    left: 930px;
    background-color:hsl(112, 67%, 95%);
    padding: 10px;
    border: 2px dashed hsl(0, 0%, 0%);
}
.flag{
    width: 170px;
    margin-left: 5px;
    margin-top: 30px;
}
.list{
    height: 180px;
    width: 20%;
    position: absolute;
    top: 20px;
    left: 210px;
    line-height: 1.5em;
}
.last{
    height: 60%;
    position: absolute;
    top: 25px;
    left: 320px;
    color: grey;
    line-height: 1.5em;
}

