* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(112, 43%, 56%);
  font-size: 20px;
  height: 100%;
}
.header {
  background: url(./cover.jpg);
  background-position-y: 150%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}
/*სათაურები*/
.title {
  position: relative;
  top: 15px;
  z-index: 1;
}
.subtitle {
  font-size: 60%;
}
/*საიტის მთავარი მენიუ*/
nav {
  position: absolute;
  top: 400px;
  left: 0px;
  background-color: hsl(112, 67%, 95%);
  width: 100%;
  height: 80px;
}
.menu {
  margin-left: 340px;
}
.menu li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
  padding-top: 20px;
}
ul li a {
  display: block;
  text-decoration: none;
  font-size: 22px;
  color: hsl(0, 0%, 50%);
  padding: 0 20px;
}
ul li a:hover {
  color: hsl(0, 100%, 50%);
}
h2 {
  text-align: center;
  margin-top: 5px;
  color: hsl(0, 0%, 100%);
}
h3 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 5px;
}
h4 {
  margin: 5px;
}
/*მთავარი ინფორმაცია აქაა განთავსებული*/
.info {
  position: absolute;
  top: 500px;
  background-color: hsl(112, 51%, 40%);
  color: hsl(0, 0%, 100%);
  width: 70%;
  height: 1730px;
  margin-left: 5px;
  line-height: 1.2em;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 5px;
  border: 2px dashed hsl(0, 0%, 100%);
}
/*სურათების კლასები*/
.landscape {
  height: 170px;
  margin-left: 270px;
  margin-right: 470px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.portrait {
  margin-right: 500px;
  margin-left: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 190px;
}
/*გვერდითა დივები*/
.sidebar {
  width: 24%;
  position: absolute;
  top: 500px;
  left: 930px;
  background-color: hsl(112, 67%, 95%);
  padding: 20px;
  border: 2px dashed hsl(0, 0%, 0%);
}
.form {
  width: 24%;
  position: absolute;
  top: 800px;
  left: 930px;
  background-color: hsl(112, 67%, 95%);
  padding: 15px;
  border: 2px dashed hsl(0, 0%, 0%);
}
/*ფუტერი და მისი სტილები*/
.footer {
  position: absolute;
  top: 2280px;
  left: 0px;
  width: 100%;
  height: 200px;
  background-color: hsl(112, 59%, 85%);
}
.flag {
  width: 170px;
  margin-left: 5px;
  margin-top: 30px;
}
.list {
  height: 180px;
  width: 20%;
  position: absolute;
  top: 5px;
  left: 150px;
  line-height: 1.5em;
  margin: 15px 30px;
}
.list li {
  list-style: none;
}
.last {
  height: 60%;
  position: absolute;
  top: 25px;
  left: 320px;
  color: grey;
  line-height: 1.5em;
}

@media screen and (max-width: 320px) {
  .header {
    background: url(./cover.jpg);
    background-position-x: 240%;
    background-size: cover;
    background-attachment: fixed;
    width: 320px;
  }
  nav {
    width: 320px;
  }
  .menu {
    margin-left: 10px;
    text-align: center;
  }
  .menu li {
    line-height: 10px;
    padding-top: 30px;
  }
  ul li a {
    font-size: 15px;
    padding: 0 0px;
  }
  .info {
    position: absolute;
    top: 500px;
    height: auto;
    width: 320px;
    margin: auto;
    line-height: 1.2em;
    padding: 1px 3px 5px 3px;
  }
  .landscape {
    height: 100px;
    margin: 2px 180px 2px 60px;
  }
  .portrait {
    height: 150px;
    margin: 2px 180px 2px 60px;
  }
  .sidebar,
  .form {
    display: none;
  }
  .footer {
    position: absolute;
    top: 3450px;
    height: 200px;
    width: 320px;
  }
  .flag {
    width: 90px;
    margin: 60px 5px;
    display: none;
  }
  .list {
    height: 180px;
    width: 20%;
    position: absolute;
    top: 5px;
    left: 0px;
    line-height: 1.3em;
    margin: 20px 5px;
  }
  .last {
    height: 200px;
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    background: url(./cover.jpg);
    background-position-x: 240%;
    background-size: cover;
    background-attachment: fixed;
    width: 375px;
  }
  nav {
    width: 375px;
  }
  .menu {
    margin-left: 10px;
    text-align: center;
  }
  .menu li {
    line-height: 10px;
    padding-top: 30px;
  }
  ul li a {
    font-size: 17px;
    padding: 0 5px;
  }
  .info {
    position: absolute;
    top: 500px;
    height: auto;
    width: 375px;
    margin: auto;
    line-height: 1.2em;
    padding: 1px 3px 5px 3px;
  }
  .landscape {
    height: 100px;
    margin: 2px 180px 2px 60px;
  }
  .portrait {
    height: 150px;
    margin: 2px 180px 2px 60px;
  }
  .sidebar,
  .form {
    display: none;
  }
  .footer {
    position: absolute;
    top: 3050px;
    height: 200px;
    width: 375px;
  }
  .flag {
    width: 90px;
    margin: 60px 5px;
    display: none;
  }
  .list {
    height: 180px;
    width: 20%;
    position: absolute;
    top: 5px;
    left: 0px;
    line-height: 1.3em;
    margin: 20px 5px;
  }
  .last {
    height: 200px;
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    background: url(./cover.jpg);
    background-position-x: 240%;
    background-size: cover;
    background-attachment: fixed;
    width: 425px;
  }
  nav {
    width: 425px;
  }
  .menu {
    margin-left: 10px;
    text-align: center;
  }
  .menu li {
    line-height: 10px;
    padding-top: 30px;
  }
  ul li a {
    font-size: 20px;
    padding: 0 5px;
  }
  .info {
    position: absolute;
    top: 500px;
    height: auto;
    width: 425px;
    margin: auto;
    line-height: 1.2em;
    padding: 1px 3px 5px 3px;
  }
  .landscape {
    height: 100px;
    margin: 2px 180px 2px 100px;
  }
  .portrait {
    height: 150px;
    margin: 2px 180px 2px 100px;
  }
  .sidebar,
  .form {
    display: none;
  }
  .footer {
    position: absolute;
    top: 2830px;
    height: 200px;
    width: 425px;
  }
  .flag {
    width: 90px;
    margin: 60px 5px;
    display: none;
  }
  .list {
    height: 180px;
    width: 20%;
    position: absolute;
    top: 5px;
    left: 0px;
    line-height: 1.3em;
    margin: 20px 5px;
  }
  .last {
    height: 200px;
    position: absolute;
    top: 15px;
    left: 90px;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background: url(./cover.jpg);
    background-position-x: 190%;
    background-size: cover;
    background-attachment: fixed;
    width: 768px;
  }
  nav {
    width: 768px;
  }
  .menu {
    margin-left: 10px;
    text-align: center;
  }
  .menu li {
    line-height: 10px;
    padding-top: 30px;
  }
  ul li a {
    font-size: 25px;
    padding: 0 15px;
  }
  .info {
    position: absolute;
    top: 500px;
    height: auto;
    width: 425px;
    margin: 5px;
    line-height: 1.2em;
    padding: 1px 3px 5px 3px;
  }
  .landscape {
    height: 100px;
    margin: 2px 180px 2px 100px;
  }
  .portrait {
    height: 150px;
    margin: 2px 180px 2px 100px;
  }
  .sidebar {
    position: absolute;
    top: 510px;
    left: 450px;
    width: 300px;
  }
  .form {
    position: absolute;
    top: 810px;
    left: 450px;
    width: 300px;
    font-size: 18px;
  }
  .footer {
    position: absolute;
    top: 2830px;
    height: 200px;
    width: 768px;
  }
  .flag {
    width: 90px;
    margin: 60px 5px;
  }
  .list {
    height: 180px;
    width: 20%;
    position: absolute;
    top: 5px;
    left: 100px;
    line-height: 1.3em;
    margin: 20px 5px;
  }
  .last {
    height: 200px;
    position: absolute;
    top: 15px;
    left: 200px;
    font-size: 18px;
  }
}
