body{
	background-color: yellow;
	font-size: 20px;
}
p{
	font-family:"Halvetica", sans-serif;
	color: blue;
}
h1{
	color: blue;
	font-family: fantasy;
}
h2{
color: red;
font-family:cursive;
}
h3{
	color: green;
	font-family: monospace;
	font-size: 2em;
}
#anthem{
	color: blue;
	line-height: 1.5em;
	text-align: center;
}
#basic{
	color: green;
	text-decoration: underline;
}
.info{
	background-color: white;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
